body
{
	margin:0px;
	background-color:#f8f8f8;
	font-family:tahoma, sans-serif;
}
.head
{
	height:100px;
	width:100%;
		min-width:1050px;
	background-image:url('../../images/head.png');
}
.nav 
{
	height:47px;
	width:100%;
		min-width:1050px;
	background-image:url('../../images/nav.png');
		background-repeat:repeat-x;
}
ul
{
	margin: 0 auto;
	list-style-type:none;
}
li
{
	display:inline;
}

a.nav_items:link,a.nav_items:visited
{
	display:inline-block;

	margin-left:25px;
		color:#f8f8f8;
	padding:10px 30px 10px 30px;
	font-family:georgia;
		font-weight:bold;
		font-size:14pt;
	text-align:center;
	text-decoration:none;
	
	/* border */
	border-style:solid;
	border-width:0px 1px 0px 1px;
	border-color:#767676;
	
}
a.nav_items:hover,a.nav_items:active
{
	color:#840101;
	background-color:#6f6f6f;
}

#content
{
	margin:0px auto;
	width:950px;
	min-height:800px;
		/* Makes it work in IE */
		height:auto !important;
		height:800px;
}


/* 
Announcement tab styling area
*/
#announce_tab
{
	margin-top:20px;
	width:375px;
	min-height:750px;
		/* Makes it work in IE */
		height:auto !important;
		height:750px;
	
	background-color:#e9e9e9;
	border-style:solid;
	border-width:2px;
	border-color:#3e5881;
	border-radius:10px;
	
	float:left;
	
}
#top_announce
{
	color:#f8f8f8;
	font-family:Georgia,Serif;
	background-color:#3e5881;
	text-align:center;
	padding:1px;
}
#bot_announce
{
	margin:5px;
}



/*
Other stuff
*/
#X_tab
{
		margin-top:20px;
	width:540px;
	min-height:750px;
		/* Makes it work in IE */
		height:auto !important;
		height:750px;
	
	background-color:#e9e9e9;
	border-style:solid;
	border-width:2px;
	border-color:#3e5881;
	border-radius:10px;
	
	float:right;
}



/*
Footer stuff
*/
#clear_fix
{
	width:100%;
	height:20px;
	clear:both;
}

#footer_box
{
	/* border */
	border-style:solid;
	border-width:5px 0px 0px 0px;
	border-color:#6f6f6f;

	height:250px;
	width:100%;
		min-width:1050px;
	background-image:url('../../images/foot_tile.png');
		background-repeat:repeat-x;
}
